<html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pomoBoard.css') }}">

</html>

<body>
    <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
        <thead class="thead-dark"><th>{{tableTitle}}</th></thead>
        <tbody id="board" class="board">
        </tbody>
    </table>
    <div style="visibility: hidden">
        <table>
            {% include 'taskTemplate.html' %}
            {% include 'pomoTemplate.html' %}
        </table>
    </div>

    <script>
        $(function() {

            // Fetch the board
            var numOfFails = 0;

            function fetchBoard() {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    url: "{{ url_for(dataPath, channel=channel) }}",
                    success: function(data) {
                        $("#board").empty();
                        try {
                            var jsonData = JSON.parse(data);
                        } catch (e) {
                            $("#board").append(data);
                            return;
                        }
                        jsonData.forEach(function(task, index, myArray) {
                            if (task.iterations !== undefined) {
                                let pomoTemplate = document.getElementById(
                                    "pomoTemplate");

                                var timerRow = pomoTemplate.cloneNode(true);
                                timerRow.id = task.username

                                timerRow.innerHTML = timerRow.innerHTML.replace('{timeLeft}', Math
                                    .round((Date.parse(task
                                        .iterEndTime + 'Z') - new Date().getTime()) / 60 / 1000));

                                timerRow.innerHTML = timerRow.innerHTML.replace('{username}', task.userDisplayName);

                                if (task.workMode) {
                                    timerRow.innerHTML = timerRow.innerHTML.replace('{work}', task.work);
                                } else {
                                    timerRow.innerHTML = timerRow.innerHTML.replace('{work}', "relax!");
                                }

                                if (task.iterations > 1) {
                                    timerRow.innerHTML = timerRow.innerHTML.replace('{currentIteration}', task.currentIteration);
                                    timerRow.innerHTML = timerRow.innerHTML.replace('{iterations}', task.iterations);
                                } else {
                                    timerRow.querySelector(".iterations").innerHTML = timerRow.querySelector(".iterations").innerHTML = "";
                                }

                                $("#board").append(timerRow);

                            } else {

                                let taskTemplate = document.getElementById("taskTemplate");

                                var taskRow = taskTemplate.cloneNode(true);

                                if (task.done) {
                                    taskRow.id = task.username+"_done_"+index;
                                    taskRow.className += " completed";
                                    taskRow.innerHTML = taskRow.innerHTML.replace('{timeTaken}', Math
                                    .round((Date.parse(task.endTime + 'Z') - Date.parse(
                                        task.startTime + 'Z')) / 60 / 1000));
                                } else {
                                    taskRow.querySelector(".done").setAttribute('hidden', true);
                                    taskRow.innerHTML = taskRow.innerHTML.replace('{timeTaken}', "");
                                }

                                taskRow.innerHTML = taskRow.innerHTML.replace('{username}', task
                                    .userDisplayName);

                                taskRow.innerHTML = taskRow.innerHTML.replace('{work}', task.work);
                                $("#board").append(taskRow);
                            }
                            numOfFails = 0;
                        });
                    },
                    error: function(){
                        if(numOfFails>5){
                            $("#board").empty();
                            $("#board").append("Failed to get Data.\nPlease check if bot is working and data is valid");
                        }else{
                            numOfFails++;
                        }
                    }
                })
            }
            fetchBoard();
            setInterval(fetchBoard, 5000);


            // Automatic Scroll
            var direction = 'd';
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            async function scrollUpAndDown() {
                if (direction == 'd') {
                    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                        direction = 'u';
                        await sleep(2000);
                    } else {
                        window.scroll(0, window.pageYOffset + 5);
                    }
                } else {
                    if (window.pageYOffset == 0) {
                        direction = 'd';
                        await sleep(2000);
                    } else {
                        window.scroll(0, window.pageYOffset - 5);
                    }
                }
                scrollUpAndDown();
            }
            scrollUpAndDown()
        });
    </script>
</body>